
.avatar-image {
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: -10px;
}


.category-view-list img{
    width: 30%;
}

.category-view-list li {
    text-align: left;
}

.category-view-list a {
    font-size: 50px;
    text-decoration: none;
    border: none;
    font-weight: bold;
}

.category-view-list strong {
    text-align: center;
    top: 10px;
}

#footer-wrapper {
    margin-top: 0px;
    padding: 0px;
}

#footer-wrapper #copyright {
    padding: 0;
    border: none;
}

#footer-wrapper #copyright ul li {
    border: none;
}

.recipe-list li img {
    width: 100%;
}

.recipe-list .one-recipe {
    border-bottom: 2px solid #666;
}