
.avatar-image {
    margin-right: 20px;
    margin-bottom: -10px;
}

.user-avatar {
    border-radius: 20px;
}

.recipe-page-avatar {
    margin-left: 10px;
}

.recipe-rate a{
    font-size: 2em;
    border-bottom: none;
}

.user-rate-recipe {
    float: right;
}

.user-rate-recipe p, ul{
    margin-bottom: 0;
}


.category-view-list img{
    width: 30%;
}

.category-view-list li {
    text-align: left;
}

.category-view-list a {
    font-size: 50px;
    text-decoration: none;
    border: none;
    font-weight: bold;
}

.category-view-list strong {
    text-align: center;
    top: 10px;
}

#footer-wrapper {
    margin-top: 0px;
    padding: 0px;
}

#footer-wrapper #copyright {
    padding: 0;
    border: none;
}

#footer-wrapper #copyright ul li {
    border: none;
}

.recipe-list li img {
    width: 100%;
}

.recipe-list .one-recipe {
    border-bottom: 2px solid #666;
}

.register-option-container {
    margin-top: 7px;
}

.login-option-container {
    margin-top: 7px;
}

.register-login-page {
    border: none;
    font-weight: 600;
    font-size: 20px;
}

.login-register-page {
    border: none;
    font-weight: 600;
    font-size: 20px;
}

.register-page {
    padding-top: 30px!important;
}

.wrong-email, .wrong-passwd {
    width: 20px;
    height: 20px;
    background-color: #666666;
    border-radius: 20px;
    margin-left: 400px;
    margin-top: -30px;
}

.email-correct, .correct-passwd {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 20px;
    margin-left: 400px;
    margin-top: -30px;
}

/* styles for tooltips */

a.tooltips {
    position: relative;
    display: inline;
}
a.tooltips span {
    position: absolute;
    width:140px;
    color: #FFFFFF;
    background: #666666;
    height: 43px;
    line-height: 43px;
    text-align: center;
    visibility: hidden;
    border-radius: 10px;
    box-shadow: 5px 4px 10px #666666;
}
a.tooltips span:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0; height: 0;
    border-right: 8px solid #666666;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
a:hover.tooltips span {
    visibility: visible;
    opacity: 1;
    left: 100%;
    top: 50%;
    margin-top: -21.5px;
    margin-left: 15px;
    z-index: 999;
}

#here {
    display: none;
}

#corp {
    position: relative;
}

#found-ingredient-list {
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
    font-weight: 700;
    background-color: #ffffff;
    position: absolute;
    z-index: 400;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
}

#found-ingredient-list div:hover {
    color: #666666;
}

#found-ingredient-list .found-ingredient {
    border: 1px solid #666666;
}

#ingredient-search {
    width: 100%;
}

#ingredient-tags {
    margin-top: 40px;
    width: 100%;
}

#ingredient-tags strong {
    white-space: nowrap;
}

#search-button {
    margin-top: 10px;
}

.ingr-tag  {
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
    background-color: #666666;
    color: #ffffff;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    border: 1px solid #666;
}

#error-page{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 1.5em;
}

.users-online {
    margin-top: 10px;
}

.recipes-categories-names {
    margin-top: 10px;
    font-size: 1.6em;
}

.recipes-icons {
    padding-left: 10px;
    padding-right: 5px;
}

.page-number {
    margin-top: 30px;
    padding-bottom: 0px;
}

.page-number a{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: none;
}

.page-number .selected {
    border-bottom: 3px solid #666666;
}

.add-recipe-btn{
    margin-top: 300px;
    position: absolute;
}

.image-add-recipe {
    margin-top: 20px;
    margin-bottom: 10px;
}

.add-ingredient-button{
  margin-left: -50px;
}


#header-wrapper .recipe-prescrition p{
    text-align: left;
}

#features-wrapper ul li {
    text-align: left;
}

#features-wrapper ul.list-of-ingredients {
    margin-left: 60px;
}

.second-star:hover {
    .first-star {
        color: #666666;
    }
}

.favorites-btn {
    border: 1px solid #666666;
    background-color: #666666;
    color: #FFFFFF;
    padding-top: 0px;
    margin-top: 50px;
    margin-left: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    text-align: center;
}

.favorites-btn:hover {
    color: #FFFFFF;
    background-color: #ED786A;
    border: 1px solid #ED786A;
}

@media (min-width: 600px) and (max-width:800px){
    .add-ingredient-button{
        margin-left: 0px;
    }

    .add-recipe-btn{
        margin-top: 200px;
        position: absolute;
    }

}


@media all and (max-width:600px) {
    .add-ingredient-button{
        margin-left: 0px;
    }

    .add-recipe-btn{
        margin-top: 400px;
        position: absolute;
    }
}